$color-grey: #353535;
$black: #101010;
$color-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$shadow-button: 0px 4px 10px rgba(0, 0, 0, 0.25);
$color-white: #FFFFFF;
$shadow-hover: 0px 6px 12px rgba(0, 0, 0, 0.4);
$color-gradient-hover: linear-gradient(135deg, #FF92E0, #A065E6);