$primary-color: #9356DC;
$grey-color: #7E7E7E;
$background-color: #F6F6F6;
$card-background: #FFFFFF;
$color-gradient-hover: linear-gradient(135deg, #FF92E0, #A065E6);
$shadow-hover: 0px 6px 12px rgba(0, 0, 0, 0.4);