/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

/* Header */
.shadow-light {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.shadow-dark {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
}
.header-logo {
  text-align: center;
  padding: 16px;
  z-index: 10;
  position: relative;
}
.header-logo .logo-img {
  max-width: 120px;
  height: auto;
  display: inline-block;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #EAEAEA;
  z-index: 5;
  position: relative;
}
.location-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #353535;
}

/* Menu */
.menu {
  position: relative;
  text-align: center;
  padding: 20px;
  background: #F6F6F6;
}
.menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #101010;
  margin-bottom: 10px;
}
.menu-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
  margin-bottom: 20px;
}
.menu-button {
  width: 218px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-button span {
  display: inline-block;
}
.menu-button:hover {
  opacity: 0.9;
  background: linear-gradient(135deg, #FF92E0, #A065E6);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* Fonctionnement */
.steps {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0;
  padding: 20px;
  background: #FFFFFF;
}
.steps-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}
.steps .step {
  position: relative;
  display: flex;
  align-items: center;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  padding: 15px;
  gap: 20px;
}
.steps .step-circle {
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.steps .step .step-icons {
  font-size: 20px;
  color: #7E7E7E;
}
.steps .step .step-icon {
  font-size: 20px;
  color: #9356DC;
}
.steps .step-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

/* Restaurants */
.restaurants {
  background-color: #F6F6F6;
  padding: 20px;
  max-width: 375px;
  margin: 0 auto;
}
.restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}
.restaurants .restaurant-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}
.restaurants .restaurant-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.restaurants .restaurant-card .badge-new {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.restaurants .restaurant-card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.restaurants .restaurant-card .card-content h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurant-card .card-content p {
  font-size: 14px;
  color: #7E7E7E;
  margin: 5px 0 0;
}
.restaurants .restaurant-card .card-content .heart-button {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}
.restaurants .restaurant-card .card-content .heart-button input {
  display: none;
}
.restaurants .restaurant-card .card-content .heart-button .fa-regular {
  color: #7E7E7E;
  transition: opacity 0.3s ease-in-out;
}
.restaurants .restaurant-card .card-content .heart-button .fa-solid.heart-filled {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #FF92E0, #A065E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  transform: scale(0);
}
.restaurants .restaurant-card .card-content .heart-button:hover .fa-solid.heart-filled {
  opacity: 1;
  transform: scale(1.1);
}
.restaurants .restaurant-card .card-content .heart-button:hover .fa-regular {
  opacity: 0;
}
.restaurants .restaurant-card .card-content .heart-button input:checked + .fa-regular {
  opacity: 0;
}
.restaurants .restaurant-card .card-content .heart-button input:checked ~ .fa-solid.heart-filled {
  opacity: 1;
  transform: scale(1);
}

/*# sourceMappingURL=styles.css.map */
